<div class="row">

  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <!-- <h4 class="card-title"> Kiện hàng bom</h4> -->
        <div class="row">
          <div class="col-4">
            <input class="form-control pl-3" style="margin-top: 10px" type="text" ngxDaterangepickerMd 
            [(ngModel)]="dateRange" 
            [ranges]="ranges" 
            [showCustomRangeLabel]="true"
            (ngModelChange)="loadData()"/>
          </div>
          <div class="col-8 text-right" >
            <button type="" class="btn btn-info" (click)="reLoad()">Làm mới</button>
          </div>
        </div>
      </div>
      <div class="card-body">
          <jqxGrid #gridReference
          [width]="'100%'" [source]="dataAdapter" [columns]="columns" [editable]="true"
          [pageable]="true" [height]="height" [autorowheight]="true" [sortable]="true" 
          [filterable]="true" [showfilterrow]="true"
          [altrows]="true"  [enabletooltips]="true"
          (onRowselect)="onRowSelect($event)"
          >
          </jqxGrid>
      </div>
    </div>
  </div> 
</div>
