
<div class="modal-body">
  <div style="font-size: 18px;">
    <b >Xử lý thông tin khách hàng</b>
    <button class="btn btn-link" style="position: absolute;right: 0px;top: -7px;" (click)="dismiss()">x</button>
  </div>
  <table class="table table-bordered" style="width:100%">
    <tbody>
      <tr>
        <td colspan="2" class="text-center text-bold">Thông tin khách hàng: </td>
      </tr>
      <tr>
        <td class="text-right" style="width:30%">Khách hàng:</td>
        <td class="text-bold">{{data?data.name:''}}</td>
      </tr>
      <tr>
        <td class="text-right">SĐT:</td>
        <td class="text-bold">{{data?data.phone:''}}</td>
      </tr>
      <tr>
        <td class="text-right">Địa chỉ:</td>
        <td>{{data?data.street:''}}</td>
      </tr>
      <tr>
        <td class="text-right">Sản phẩm:</td>
        <td><input [(ngModel)]="data.formcolor" name="formcolor" class="form-control" /></td>
      </tr>
      <tr>
        <td class="text-right">Giá:</td>
        <td><input [(ngModel)]="data.price" name="price" class="form-control" id="currency-field"  value="" (keyup)="formatCurrency()" (blur)="formatCurrency()" data-type="currency"/></td>
      </tr>
      <tr>
        <td colspan="2" class="text-center">
          <qrcode [qrdata]="data.phone" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button type="" class="btn btn-primary" (click)="save(-1)">Lưu thông tin</button>
  <button type="" class="btn btn-primary" (click)="save(2)">Hoàn thành</button>
  <button type="" class="btn btn-warning" (click)="save(3)">Không nghe máy lần 1</button>
  <button type="" class="btn btn-warning" (click)="save(4)">Không nghe máy lần 2</button>
  <button type="" class="btn btn-danger" (click)="save(5)">Thất bại</button>
  <button type="" class="btn btn-dark" (click)="save(6)">Trùng</button>
  <button type="" class="btn btn-success" (click)="save(7)">Đã in đơn</button>
  <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-success" (click)="accept()"><i class="fa fa-check-circle-o mr-1"></i> {{ btnOkText }}</button>
  <button type="button" class="btn btn-danger" (click)="decline()"><i class="fa fa-times-circle "></i> {{ btnCancelText }}</button> -->
</div>