<div class="sidebar-wrapper">
  <div class="logo">
    <a href="" class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="assets/img/logo.png">
      </div>
    </a>
    <a href="" class="simple-text logo-normal">
      ADSXANH GROUP
    </a>
  </div>

  <ul class="nav">
    <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
      <a [routerLink]="[menuItem.path]" [queryParams]="{shopCode: menuItem.params}">
        <i class="nc-icon {{menuItem.icon}}"></i>
        <p>{{menuItem.title}}</p>
      </a>
    </li>

    <li (click)="isCollapsedCP = !isCollapsedCP" [attr.aria-expanded]="!isCollapsedCP" aria-controls="collapseCP"
      class="border-bottom" *ngIf="info.role === 'admin'">
      <a>
        <i class="nc-icon nc-credit-card"></i>
        <p>Chi phí
          <span *ngIf="isCollapsedCP" style="right: 0px; position: absolute;"><i class="nc-icon nc-minimal-right"
              style="font-size:12px"></i></span>
          <span *ngIf="!isCollapsedCP" style="right: 0px; position: absolute;"><i class="nc-icon nc-minimal-up"
              style="font-size:12px"></i></span>
        </p>
      </a>
    </li>

    <ul #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsedCP" style="list-style: none; padding-left: 0px;"
      class="border-bottom" *ngIf="info.role === 'admin' || info.role === 'marketing'">
      <li class="nav-item">
        <a routerLink="/costType" *ngIf="info.role === 'admin'">Loại chi phí</a>
      </li>
      <li class="nav-item">
        <a routerLink="/cost" *ngIf="info.role === 'admin'">Bản ghi chi phí</a>
      </li>
      <li class="nav-item">
        <a routerLink="/cost-marketing">Chi phí marketing</a>
      </li>
    </ul>

    <li (click)="isCollapsedBC = !isCollapsedBC" [attr.aria-expanded]="!isCollapsedBC" aria-controls="collapseBC"
      class="border-bottom" *ngIf="info.role === 'admin' || info.role === 'marketing'">
      <a>
        <i class="nc-icon nc-chart-pie-36"></i>
        <p>Báo cáo
          <span *ngIf="isCollapsedBC" style="right: 0px; position: absolute;"><i class="nc-icon nc-minimal-right"
              style="font-size:12px"></i></span>
          <span *ngIf="!isCollapsedBC" style="right: 0px; position: absolute;"><i class="nc-icon nc-minimal-up"
              style="font-size:12px"></i></span>
        </p>
      </a>
    </li>
    <ul #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsedBC" style="list-style: none; padding-left: 0px;"
      class="border-bottom" *ngIf="info.role === 'admin' || info.role === 'marketing'">
      <li class="nav-item" >
        <a routerLink="/utm-statistic">Thống kê UTM</a>
      </li>
      <li class="nav-item" *ngIf="info.role === 'admin'">
        <a routerLink="/statiscal-revenue">Thống kê doanh thu</a>
      </li>
      <li class="nav-item">
        <a routerLink="/statiscal-cost" *ngIf="info.role === 'admin'">Thống kê chi phí</a>
      </li> 
      <li class="nav-item">
        <a routerLink="/statistic-performance-sale" *ngIf="info.role === 'admin'">Thống kê hiệu suất sale</a>
      </li>
      
    </ul>
  </ul>

</div>