
<div class="sidebar-wrapper">
  <div class="logo">
    <a href="" class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="assets/img/logo.png">
      </div>
    </a>
    <a href="" class="simple-text logo-normal">
      ADSXANH GROUP
    </a>
  </div>
    <ul class="nav">
        <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
            <a [routerLink]="[menuItem.path]" [queryParams]="{shopCode: menuItem.params}">
                <i class="nc-icon {{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>

        <li>

          
          
    </ul>
    <!-- <ul class="nav">
      <li (click)="collapse.toggle()"
          [attr.aria-expanded]="!isCollapsed"
          aria-controls="collapseExample"
          class="border-bottom"
          >
        <a>
          <i class="nc-icon nc-single-copy-04"></i>
          <p>Chi phí <span style="right: 0px;">></span></p>
        </a>
      </li>
      <ul #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" style="list-style: none; padding-left: 0px;" class="border-bottom">
        <li class="nav-item" >
          <a>Loại chi phí</a>
        </li>
        <li class="nav-item">
          <a >Thống kê chi phí</a>
        </li>
      </ul>
    </ul> -->

   
</div>
