
<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="table-responsive-vertical shadow-z-1">
        <!-- Table starts here -->
        <table id="table" class="table table-hover table-mc-light-blue">
            <thead>
              <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Price</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr *ngFor="let item of collection | paginate: { itemsPerPage: 10, currentPage: p }"> -->
                <tr>
                
                <td data-title="Name">1</td>
                <td data-title="Name">1</td>
                <td data-title="Name">1</td>
                <td data-title="Name">1</td>
                <td data-title="Name">1</td>
                <td data-title="Name">1</td>
              </tr>
            </tbody>
          </table>
        </div>
      
    </div>
  </div>
</div>
