// grid
.jqx-widget-header{
    font-weight: 600;
    background: #fff !important;
}
.jqx-grid-cell-filter-row,.jqx-grid-pager,.jqx-grid-cell-alt,.jqx-grid-cell,.jqx-fill-state-pressed{
    background: #fff;
}
.jqx-grid-cell-selected{
    background-color: #d1d1d1 !important;
    border-color: #999 !important;
}
.jqx-reset{
    display: none;
}
