<div class="row">

    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <!-- <h4 class="card-title"> Kiện hàng bom</h4> -->
          <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
              <input class="form-control pl-3" style="margin-top: 10px" type="text" ngxDaterangepickerMd 
              [(ngModel)]="dateRange" 
              [ranges]="ranges" 
              [showCustomRangeLabel]="true"
              [alwaysShowCalendars]="true"
              (ngModelChange)="loadData()"/>
            </div>
            <div class="col-4"></div>
            
          </div>
        </div>
        <div class="card-body">
          <jqxPivotGrid
              #pivotGrid1
              [width]="'100%'" 
              [height]="height"
              [source]="pivotDataSource"
              [treeStyleRows] = "false"
              [autoResize] = "false"
              [multipleSelectionEnabled] = "false"
            >
          </jqxPivotGrid>
        </div>
      </div>
    </div> 
  </div>
  