<div class="row">

    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <!-- <h4 class="card-title"> Kiện hàng bom</h4> -->
          <div class="row">
            UTM Statistic
          </div>
        </div>
        <div class="card-body">
          <jqxPivotGrid
              #pivotGrid1
              [width]="'100%'" 
              [height]="height"
              [source]="pivotDataSource"
              [treeStyleRows] = "false"
              [autoResize] = "false"
              [multipleSelectionEnabled] = "true"
            >
          </jqxPivotGrid>
        </div>
      </div>
    </div> 
  </div>
  