<div class="row">
  <div class="col-md-12">
    <div class="card demo-icons">
      <div class="table-responsive-vertical shadow-z-1">
      
        <table id="table" class="table table-hover table-mc-light-blue">
            <thead>
              <tr>
                <th>Account</th>
                <th>FullName</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Password</th>
                <th>Note</th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr *ngFor="let item of collection | paginate: { itemsPerPage: 10, currentPage: p }"> -->
                <tr>
                
                <td data-title="Name">Account</td>
                <td data-title="Name">FullName</td>
                <td data-title="Name">Phone</td>
                <td data-title="Name">Email</td>
                <td data-title="Name">Password</td>
                <td data-title="Name">Note</td>
              </tr>
            </tbody>
          </table>
        </div>
      
    </div>
  </div>
</div>
