<div class="row">

  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <!-- <h4 class="card-title"> Kiện hàng bom</h4> -->
        <div class="row">
          <div class="col-8">
          </div>
          <div class="col-4">
            <button type="" class="btn btn-primary" (click)="loadData()" style="float:right">Làm mới</button>
          </div>
        </div>
      </div>
      <div class="card-body">
          <jqxGrid #gridReference
          [width]="'100%'" [source]="dataAdapter" [columns]="columns" [editable]="true"
          [pageable]="true" [autoheight]="true" [autorowheight]="true" [sortable]="true" 
          [filterable]="true" [showfilterbar]="true" [showfilterrow]="true" [filterbarmode]="'simple'"
          [altrows]="true"  [enabletooltips]="true"  [selectionmode]="'checkbox'"
          (onRowselect)="onRowSelect($event)"
          >
          </jqxGrid>
      </div>
    </div>
  </div> 
</div>
