.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
img, form{
    animation: show 1s ease-in;
}
@keyframes show{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}