<div class="modal-body">
  <div style="font-size: 18px;">
    <b>{{title?title:''}}</b>
    <button class="btn btn-link" style="position: absolute;right: 0px;top: -7px;" (click)="dismiss()">x</button>
  </div>
  <div class="d-inline mt-1">

    <div class="form-group form-outline mb-1">
      <label>Họ và tên</label>
      <input type="text" name="Họ và tên" [(ngModel)]="fullName" placeholder=" Họ và tên "
        class="form-control form-control-lg" style="height:2.5rem ;">
    </div>
    <!-- User input -->
    <div class="form-group form-outline mb-1 mt-1">
      <label>Tài khoản</label>
      <input type="text" name="username" [(ngModel)]="username" placeholder=" Tên tài khoản"
        class="form-control form-control-lg" style="height:2.5rem ;" [disabled]="data">
    </div>

    <!-- Password input -->
    <div class="form-group form-outline mb-1">
      <label>Mật khẩu</label>
      <input type="password" name="password" [(ngModel)]="password" placeholder=" Mật khẩu"
        class="form-control form-control-lg" style="height:2.5rem ;">
    </div>
    <div class="form-group form-outline mb-1">
      <label>Nhập lại mật khẩu</label>
      <input type="password" name="passWord" [(ngModel)]="retypePassword" placeholder="Nhập lại mật khẩu"
        class="form-control form-control-lg" style="height:2.5rem ;">
    </div>
    <div class="form-group form-outline mb-1">
      <label>Email</label>
      <input type="text" name="Email" [(ngModel)]="email" placeholder=" email" class="form-control form-control-lg"
        style="height:2.5rem ;">
    </div>

    <div class="form-group form-outline mb-1">
      <label>SĐT</label>
      <input type="text" name="Số điện thoại" [(ngModel)]="sdt" placeholder=" Số điện thoại "
        class="form-control form-control-lg" style="height:2.5rem ;">
    </div>
    <div class="form-group form-outline mb-1">
      <label>Địa chỉ</label>
      <input type="text" name="Địa chỉ" [(ngModel)]="address " placeholder=" Địa chỉ"
        class="form-control form-control-lg" style="height:2.5rem ;">
    </div>
    <div class="form-group form-outline mb-1">
      <label>Phân quyền</label>
      <select class="form-control" [(ngModel)]="role">
        <option value="user">user</option>
        <option value="marketing">marketing</option>
        <option value="admin">admin</option>
      </select>
    </div>
    <div class="form-group form-outline mb-1">
      <label>Danh sách shop</label>
      <ng-select [(ngModel)]="listSelect" name="listSelect" [multiple]="true" [clearable]="true" placeholder="Danh sách shop">
        <ng-option *ngFor="let obj of listShop" [value]="obj.code">{{obj.code}} - {{obj.name}}</ng-option>
      </ng-select>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="" class="btn btn-success" (click)="create()">Lưu</button>
  <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-success" (click)="accept()"><i class="fa fa-check-circle-o mr-1"></i> {{ btnOkText }}</button>
  <button type="button" class="btn btn-danger" (click)="decline()"><i class="fa fa-times-circle "></i> {{ btnCancelText }}</button> -->
</div>