
<div class="modal-header">
  <div style="font-size: 24px;">
      <p class="m-0">Giao việc</p>
      <button class="btn btn-link" style="position: absolute;right: 0px;top: -7px;" (click)="dismiss()">x</button>
    </div>
</div>
<div class="modal-body">
  <div class="mt-2 mb-2">
    <h6>Chọn nhân sự</h6>
    <div class="row">
      <div class="col-11">
        <ng-select [(ngModel)]="selectedStaff" name="selectedStaff">
          <ng-option *ngFor="let obj of listUser" [value]="obj.acount.id">{{obj.acount.fullName}} ({{obj.acount.userName}})</ng-option>
        </ng-select>
      </div>
      <div class="col-1">
        <button class="btn btn-sm btn-light" style="margin:0px" (click)="getUserActive()"><i class="fa fa-refresh"></i></button>
      </div>
    </div>

  </div>
  <div class="mt-2 mb-2">
    <h6>Danh sách công việc</h6>
  </div>
  <div>
    <jqxGrid #gridReferenceABC
          [width]="'100%'" [source]="dataAdapter" [columns]="columns" [editable]="true" [height]="height"
          [pageable]="true" [sortable]="true" 
          [filterable]="true" [showfilterrow]="true"
          [altrows]="true"  [enabletooltips]="true" 
          [localization]="localization"
          >
    </jqxGrid>
  </div>
</div>
<div class="modal-footer">
  <button (click)="assignWork()" type="" class="btn btn-primary">Giao việc</button>
  <button (click)="dismiss()" type="button" class="btn btn-danger" >Hủy</button>
</div>