
<div class="modal-header">
    <div style="font-size: 18px;">
        <h4>Giao việc</h4>
        <button class="btn btn-link" style="position: absolute;right: 0px;top: -7px;" (click)="dismiss()">x</button>
      </div>
</div>
<div class="modal-body">
  <div class="mt-2 mb-2">
    <h6>Chọn nhân sự</h6>
    <select (change)="setStaffId($event.target.value)" class="form-control" *ngFor="let obj of listUser">
        <option [value]="0">--Chọn nhân sự--</option>
        <option [value]="obj.acount.id">{{obj.acount.userName}}</option>
    </select>
  </div>
  <div class="mt-2 mb-2">
    <h6>Danh sách công việc</h6>
  </div>
  <table class="table table-bordered" style="width:100%">
    <tbody>
      <tr>
        <th class="text-left">Sản phẩm</th>
        <th class="text-left">Khách hàng</th>
        <th class="text-center">SĐT</th>
        <th class="text-center">Ngày</th>
        <th class="text-left">Địa chỉ</th>
      </tr>
      <tr *ngFor="let item of data;">
        <td class="text-left text-bold">{{item?item.formcolor:''}} </td>
        <td class="text-left">{{item?item.name:''}}</td>
        <td class="text-center">{{item?item.phone:''}}</td>
        <td class="text-center">{{item?item.date:''|date}}</td>
        <td class="text-left">{{item?item.street:''}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button (click)="assignWork()" type="" class="btn btn-primary">Giao việc</button>
  <button (click)="dismiss()" type="button" class="btn btn-danger" >Hủy</button>
</div>