<div class="row">

  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <!-- <h4 class="card-title"> Kiện hàng bom</h4> -->
        <div class="row">
          <div class="col-8">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#workModal" (click)="showData()">Giao việc</button>
            <button type="" class="btn btn-info" (click)="openAutoAssignWork()">Tự động giao việc</button>
            <button type="" class="btn btn-info" (click)="onProcessData()">Xử lý</button>
            <button type="" class="btn btn-info" (click)="exportTOExcel()">Xuất Excel</button>
            <button type="" class="btn btn-info" (click)="onExportData()">Tổng kết dữ liệu</button>
            <button type="" class="btn btn-info" (click)="loadData()">Làm mới</button>
          </div>
          <div class="col-4">
            <input class="form-control pl-3" style="margin-top: 10px" type="text" ngxDaterangepickerMd 
            [(ngModel)]="dateRange" 
            [ranges]="ranges" 
            [showCustomRangeLabel]="true"
            (ngModelChange)="loadData()"/>
          </div>
          <div class="col-8">
            <button type="" class="btn btn-info" (click)="getByStatus(0)">Chờ xử lý</button>
            <button type="" class="btn btn-info" (click)="getByStatus(1)">Đang xử lý</button>
            <button type="" class="btn btn-info" (click)="getByStatus(2)">Hoàn thành</button>
            <button type="" class="btn btn-info" (click)="getByStatus(3)">Không nghe máy L1</button>
            <button type="" class="btn btn-info" (click)="getByStatus(5)">Thất bại</button>
            <button type="" class="btn btn-info" (click)="getByStatus(7)">Đã in đơn</button>
          </div>
          <div class="col-4">
            <select class="form-control" style="margin-top: 10px" [(ngModel)]="statusDto" name="statusDto" (change)="getByStatus($event.target.value)">
              <option value="">Tất cả</option>
              <option value="0">Chờ xử lý</option>
              <option value="1">Đang xử lý</option>
              <option value="2">Hoàn thành</option>
              <option value="3">Không nghe máy L1</option>
              <option value="4">Không nghe máy L2</option>
              <option value="5">Thất bại</option>
              <option value="6">Trùng</option>
              <option value="7">Đã in đơn</option>
            </select>
          </div>
        </div>
      </div>
      <div class="card-body">
          <jqxGrid #gridReference
          [width]="'100%'" [source]="dataAdapter" [columns]="columns" [editable]="true" [height]="height"
          [pageable]="true" [autorowheight]="true" [sortable]="true" 
          [filterable]="true" [showfilterrow]="true"
          [altrows]="true"  [enabletooltips]="true"  [selectionmode]="'checkbox'"
          (onRowselect)="onRowSelect($event)" [localization]="localization"
          >
          </jqxGrid>
      </div>
      <div class="col-lg-12 table-responsive" #TABLE #table style="display: none;">  
        <div style="padding-bottom: 10px;padding-top: 10px;">  
          <div class="row">  
            <div class="col-sm-12">  
              <button (click)="exportTOExcel()" class="btn btn-success">ExportTOExcel</button> </div>  
          </div>  
        </div>  
        <table class="table table-bordered">  
          <thead class="thead-dark">  
            <tr>  
              <th>Mã</th>  
              <th>Ngày</th>  
              <th>Tên KH</th>  
              <th>Sản phẩm</th>  
              <th>SĐT</th>  
              <th>Địa chỉ</th>  
              <th>Xã</th>  
              <th>Huyện</th>  
              <th>Tỉnh</th>  
            </tr>  
          </thead>  
          <tbody>  
            <tr *ngFor="let obj of listEntity">  
              <td>{{obj.id}}</td>  
              <td>{{obj.date | date: 'M/d/yy, h:mm a'}}</td>  
              <td>{{obj.name}}</td>  
              <td>{{obj.formcolor}}</td>  
              <td>{{obj.phone}}</td>  
              <td>{{obj.street}}</td>  
              <td>{{obj.ward}}</td>  
              <td>{{obj.district}}</td>  
              <td>{{obj.state}}</td>  
            </tr>  
          </tbody>  
        </table>  
      </div>  
    </div>
  </div> 
</div>

<!-- Modal -->
<div class="modal fade" id="workModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


