<div class="row">

  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <!-- <h4 class="card-title"> Kiện hàng bom</h4> -->
        <div class="row">
          <div class="col-6 col-sm-3">

            <select [(ngModel)]="typeShow" class="form-control" (change)="statistic()" *ngIf="optionChart==1">
              <option value=1>Theo Ngày</option>
              <option value=2>Theo Tháng</option>
              <option value=3>Theo Năm</option>
            </select>

            <!-- <input type="text" [(ngModel)]="refundRate" *ngIf="typeShow == 2 && optionChart == 1" placeholder="Năm" (change) = "statistic()"> -->
            <input class="form-control" type="text" ngxDaterangepickerMd *ngIf="optionChart==2" [(ngModel)]="dateRange"
              [ranges]="ranges" [showCustomRangeLabel]="true" [alwaysShowCalendars]="true"
              (ngModelChange)="statistic()" />

          </div>
          <div class="col-6 col-sm-3" *ngIf="typeShow == 2 && optionChart == 1">
            <input type="text" [(ngModel)]="year" class="form-control" placeholder="Năm" (change)="statistic()">
          </div>
          <div class="col-6 col-sm-3" *ngIf="typeShow == 1 && optionChart == 1">
            <select [(ngModel)]="month" class="form-control" (change)="statistic()">
              <option value=1>Tháng 1</option>
              <option value=2>Tháng 2</option>
              <option value=3>Tháng 3</option>
              <option value=4>Tháng 4</option>
              <option value=5>Tháng 5</option>
              <option value=6>Tháng 6</option>
              <option value=7>Tháng 7</option>
              <option value=8>Tháng 8</option>
              <option value=9>Tháng 9</option>
              <option value=10>Tháng 10</option>
              <option value=11>Tháng 11</option>
              <option value=12>Tháng 12</option>
            </select>
          </div>
          <div class="col-6 col-sm-3 text-right">
            <select [(ngModel)]="optionChart" class="form-control" (change)="statistic()">
              <option value=1>Theo thời gian</option>
              <option value=2>Theo utm</option>
            </select>

          </div>
          <div class="col-6 col-sm-3">
            <select [(ngModel)]="shopCode" class="form-control">
              <option value="KHBOM">KHBOM</option>
            </select>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="chart" id="pie-chart" style="margin-top: 25px;" [hidden]="optionChart != 1"></div>
        <jqxGrid #gridReference [width]="'100%'" [source]="dataAdapter" [columns]="columns" [editable]="true"
          [pageable]="true" [height]="height" [sortable]="true" [filterable]="true" [showfilterrow]="true"
          [altrows]="true" [enabletooltips]="true" (onRowselect)="onRowSelect($event)"
          [hidden]="optionChart != 2">
        </jqxGrid>
        <div class="chart" id="chart" style="margin-top: 25px;"></div>
      </div>
    </div>
  </div>
</div>