<div class="modal-body">
  <div style="font-size: 18px;">
    <b>{{title?title:''}}</b>
    <button class="btn btn-link" style="position: absolute;right: 0px;top: -7px;" (click)="dismiss()">x</button>
  </div>
  <div class="d-inline mt-1">

    <div class="form-group form-outline mb-1">
      <label>Code</label>
      <input type="text" [(ngModel)]="code" placeholder="Code "
        class="form-control form-control-lg" style="height:2.5rem ;">
    </div>
    <!-- User input -->
    <div class="form-group form-outline mb-1 mt-1">
      <label>Tên</label>
      <input type="text" [(ngModel)]="name" placeholder="name"
        class="form-control form-control-lg" style="height:2.5rem ;">
    </div>

    <div class="form-group form-outline mb-1">
      <label>Trạng thái</label>
      <select [(ngModel)]="status" class="form-control">
        <option value="0">Khóa</option>
        <option value="1">Kích hoạt</option>
      </select>
    </div>
    <div class="form-group form-outline mb-1">
      <label>Theo thời gian</label>
      <select [(ngModel)]="priod" class="form-control">
        <option value="1">Ngày</option>
        <option value="2">Tháng</option>
        <option value="3">Năm</option>
      </select>
    </div>
    <div class="form-group form-outline mb-1">
      <label>Chi phí theo số lượng đơn hàng</label>
      <select [(ngModel)]="isCountOrder" class="form-control">
        <option value="0">Không</option>
        <option value="1">Có</option>
      </select>
    </div>
  </div>


   
</div>
<div class="modal-footer">
  <button type="" class="btn btn-success" (click)="create()">Lưu</button>
  <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-success" (click)="accept()"><i class="fa fa-check-circle-o mr-1"></i> {{ btnOkText }}</button>
  <button type="button" class="btn btn-danger" (click)="decline()"><i class="fa fa-times-circle "></i> {{ btnCancelText }}</button> -->
</div>