<div class="row">

  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <!-- <h4 class="card-title"> Kiện hàng bom</h4> -->
        <div class="row">
          <div class="col-4">
            <button type="" class="btn btn-primary" (click)="createData()">Thêm</button>
            <button type="" class="btn btn-primary" (click)="updateData()" [disabled]="!selectedEntity">Sửa</button>
            <button type="" class="btn btn-warning" (click)="deleteData()" [disabled]="!selectedEntity">Xoá</button>

          </div>
          <div class="col-8 text-right">
            <input class="col-6 mr-2" type="text" ngxDaterangepickerMd [(ngModel)]="dateRange" [ranges]="ranges"
              [showCustomRangeLabel]="true" [alwaysShowCalendars]="true" (ngModelChange)="loadData()" />
            <a class="btn btn-primary" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="chart" routerLink="/statiscal-cost">
                Thống kê</a>
            <button type="" class="btn btn-primary" (click)="loadData()">Làm mới</button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <jqxGrid #gridReference [width]="'100%'" [source]="dataAdapter" [columns]="columns" [editable]="true"
          [pageable]="true" [sortable]="true" [height]="height" [filterable]="true" [showfilterrow]="true" [altrows]="true"
          [enabletooltips]="true" (onRowselect)="onRowSelect($event)"
          (onRowdoubleclick)="onRowdblclick($event)">
        </jqxGrid>
        <div class="chart" id="chart" style="margin-top: 25px;"[ngStyle] = "visible" style="transition: width 2s, height 4s;"></div>
      </div>
    </div>
  </div>
</div>