<div class="modal-body">
  <div style="font-size: 18px;">
    <b>{{title?title:''}}</b>
    <button class="btn btn-link" style="position: absolute;right: 0px;top: -7px;" (click)="dismiss()">x</button>
  </div>
  <div class="d-inline mt-1">

    <div class="form-group form-outline mb-1">
      <label>code</label>
      <input type="text" name="Họ và tên" [(ngModel)]="code" placeholder="code "
        class="form-control form-control-lg" style="height:2.5rem ;">
    </div>

    <div class="form-group form-outline mb-1">
      <label>Tên kho</label>
      <input type="text" name="Họ và tên" [(ngModel)]="name" placeholder="Tên kho "
        class="form-control form-control-lg" style="height:2.5rem ;">
    </div>

    <div class="form-group form-outline mb-1">
      <label>Địa chỉ kho</label>
      <input type="text" name="Họ và tên" [(ngModel)]="address" placeholder="Địa chỉ kho "
        class="form-control form-control-lg" style="height:2.5rem ;">
    </div>

    <div class="form-group form-outline mb-1">
      <label>Danh sách shop</label>
      <ng-select [(ngModel)]="listSelect" name="listSelect" [multiple]="true" [clearable]="true" placeholder="Danh sách shop">
        <ng-option *ngFor="let obj of listShop" [value]="obj.code">{{obj.code}} - {{obj.name}}</ng-option>
      </ng-select>
    </div>

    <div class="form-group form-outline mb-1">
      <label>SĐT</label>
      <input type="text" name="Họ và tên" [(ngModel)]="phoneNumber" placeholder=" Số điện thoại "
        class="form-control form-control-lg" style="height:2.5rem ;">
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="" class="btn btn-success" (click)="create()">Lưu</button>
  <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-success" (click)="accept()"><i class="fa fa-check-circle-o mr-1"></i> {{ btnOkText }}</button>
  <button type="button" class="btn btn-danger" (click)="decline()"><i class="fa fa-times-circle "></i> {{ btnCancelText }}</button> -->
</div>