
<div class="modal-header">
    <div style="font-size: 24px;">
        <p class="m-0">Tự động giao việc</p>
        <button class="btn btn-link" style="position: absolute;right: 0px;top: -7px;" (click)="dismiss()">x</button>
      </div>
</div>
<div class="modal-body row">
  <div class="col-10">
    <label>Số lượng công việc cần xử lý: 
      <input type="number" min="0" max="{{listWork.length}}" step="1" [(ngModel)]="numOfWork" (change)="onChangeNumOfWork()" /> /
      {{listWork.length}}
    
    </label>
  </div>
  <div class="col-2 text-right">
    <button class="btn btn-sm btn-primary" (click)="getUserActive()">Làm mới</button>
  </div>
  <div class="col-12 pr-0">
    <jqxGrid #gridNhanVien
          [width]="'100%'" [source]="dataAdapter" [columns]="columns" [editable]="true" [height]="height"
          [pageable]="true" [sortable]="true" 
          [filterable]="true" [showfilterrow]="true"
          [altrows]="true"  [enabletooltips]="true"  [selectionmode]="'checkbox'"
          (onRowselect)="onRowSelect($event)" [localization]="localization" (onRowunselect)="onRowunselect($event)"
          >
        </jqxGrid>
  </div>
</div>
<div class="modal-footer">
  <button (click)="assignWork()" type="" class="btn btn-primary">Lưu</button>
  <button (click)="dismiss()" type="button" class="btn btn-danger" >Hủy</button>
</div>