.toast-custom {
    top: 20px;
    right: 0px;
    left: 75%;
}
.modal-open .modal {
    z-index: 9999;
}
.modal-header .close {
    padding: 0.5rem
}
.modal-footer {
    padding: 0.5rem
}
.modal-header {
    padding: 0.5rem
}
.text-bold {
    font-weight: bold;
}
.jqx-calendar-container{
    z-index: 9999;
}
.bold{
    font-weight: 600;
}
// .navbar
.navbar{
    background-color: #3268b1;
    .nc-icon{
        color: #fff;
    }
    .navbar-brand, .click_show{
        color: #fff !important;
    }
}
// grid
.jqx-grid-column-header{
    font-weight: 600;
    background: #fff;
}
.jqx-grid-cell-filter-row,.jqx-grid-pager,.jqx-grid-cell-alt,.jqx-grid-cell,.jqx-fill-state-pressed{
    background: #fff;
}
.jqx-grid-cell-selected{
    background-color: #d1d1d1 !important;
    border-color: #999 !important;
}

// modal
.modal-view {
    .modal-dialog {
      max-width: 1588px !important;
      margin-top: 20px;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
.modal-open .modal{
z-index: 1100;
}