.toast-custom {
    top: 20px;
    right: 0px;
    left: 75%;
}
.btn-selected{
    opacity: 0.3;
}
.modal-open .modal {
    z-index: 9999;
}
.modal-header .close {
    padding: 0.5rem
}
.modal-footer {
    padding: 0.5rem
}
.modal-header {
    padding: 0.5rem
}
.text-bold {
    font-weight: bold;
}
.jqx-calendar-container{
    z-index: 9999;
}
.bold{
    font-weight: 600;
}
// .navbar
.navbar{
    background-color: #3268b1;
    .nc-icon{
        color: #fff;
    }
    .navbar-brand, .click_show{
        color: #fff !important;
    }
}
// grid
.jqx-grid-column-header{
    font-weight: 600;
    background: #fff !important;
}
.jqx-grid-cell-filter-row,.jqx-grid-pager,.jqx-grid-cell-alt,.jqx-grid-cell,.jqx-fill-state-pressed{
    background: #fff;
}
.jqx-grid-cell-selected{
    background-color: #d1d1d1 !important;
    border-color: #999 !important;
}
.jqx-widget-header{
    color: #fff;
    font-weight: 600 !important;
    background:#3268b1 !important;
    font-size: 11px;
}
.jqx-grid-cell-normal{
    color:  #000;
    text-align: center;
    font-weight: 500 !important
}

.div-center{
    position: relative;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    padding: 10px;
}

// modal
.modal-view {
    .modal-dialog {
      max-width: 1588px !important;
      margin-top: 20px;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
.modal-open .modal{
z-index: 1100;
}
.btn-outline-dark {
    color: #343a40;
    background-color: transparent;
    background-image: none;
    border: 2px solid #343a40 !important;
}
.border-bottom {
    border-bottom: 1px solid gray;
}
.nav li:hover {
    color: #08b3bb;
    background-color: #d0f0f2;
}

.active >a{
    color: #08b3bb !important;
    font-weight: bold !important;
}
.active >a i{
    color: #08b3bb !important;
    font-weight: bold !important;
}