.toast-custom {
    top: 20px;
    right: 0px;
    left: 75%;
}
.modal-open .modal {
    z-index: 9999;
}
.modal-header .close {
    padding: 0.5rem
}
.modal-footer {
    padding: 0.5rem
}
.modal-header {
    padding: 0.5rem
}
.text-bold {
    font-weight: bold;
}
.jqx-calendar-container{
    z-index: 9999;
}
// .navbar
.navbar{
    background-color: #3268b1;
    .nc-icon{
        color: #fff;
    }
    .navbar-brand, .click_show{
        color: #fff !important;
    }
}
// grid
.jqx-grid-column-header{
    font-weight: 600;
    background: #e6f1f7;
}
.jqx-grid-cell-filter-row{
    background: #e6f1f7;
}